{{ ansible_managed | comment }}
# Configuration file for Headphones daemon.

# Path to Headphones configuration file.
HP_CONF={{ headphones_config_file }}

# Path to Headphones data directory.
HP_DATA={{ headphones_data_dir }}
